* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: #fff;
}
/*********** NAVIGATION ***********/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.nav-head h4 {
  font-size: 3rem;
  font-weight: 400;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links a.login {
  background-color: #fff;
  color: #0a0a0a;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 10px;
}

.sign-up {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
}

/************ HERO ************/
.hero {
  padding: 3rem 4rem;
}

.hero-head {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.hero-head span {
  font-size: 10rem;
  font-weight: 500;
}

.hero-head div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

i {
  font-size: 8rem;
  font-weight: 300;
}

.hero-head img {
  width: 43rem;
  height: 10rem;
  padding-right: 2rem;
}

.extra {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.extra p {
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 360px;
  line-height: 2rem;
  color: #dee2e6;
  font-weight: 300;
}

.extra button {
  background-color: #0a0a0a;
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  padding: 1rem 1rem;
  cursor: pointer;
}

/*************COOLLECTION **************/
.collection {
  padding: 5rem 6rem;
}

.collection-head {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
}

.collection-head span {
  font-weight: 200;
}

.collection-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-links-head,
.collection-filter {
  background-color: #0a0a0a;
  color: #dee2e6;
  font-size: 1.2rem;
  font-weight: 300;
  border: 1px solid #dee2e6;
  padding: 1rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.collection-link {
  display: flex;
  align-items: center;
  padding: 4rem 0rem;
  gap: 4rem;
}

.collection-link a {
  text-decoration: none;
  color: #dee2e6;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.all {
  background-color: #0a0a0a;
  color: #dee2e6;
  font-weight: 300;
  border: 1px solid #dee2e6;
  padding: 1rem 1rem;
  cursor: pointer;
}

.collection-products {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.collection-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collection-product div:nth-child(2),
.second-collection-product div:nth-child(2) {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.collection-product img {
  width: 250px;
}

.collection-product p,
.second-collection-product p {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.collection-product span,
.second-collection-product span {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #dee2e6;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.9px;
}

.second-collection {
  display: flex;
  padding-top: 5rem;
  gap: 5rem;
}

.second-collection-box {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.second-collection-product img {
  width: 250px;
}

.one img {
  width: 500px;
}

.two img {
  width: 410px;
}

.collection-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
}

.collection-cart button {
  color: #fff;
  background-color: #0a0a0a;
  border: 1px solid #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  cursor: pointer;
}

/*************BEST COLLECTION**************/
.best-collection {
  padding: 10rem 6rem;
}

.best-collection img {
  width: 500px;
}

.best-collection-head {
  font-size: 8rem;
  text-align: right;
}

.best-collection-head span {
  font-weight: 300;
  display: block;
}

.best-collection-box div:nth-child(2) {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.best-collection-box p {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.best-collection-box span {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #dee2e6;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.9px;
}

.collection-one {
  display: flex;
  justify-content: space-between;
}

.collection-two {
  display: flex;
  gap: 10rem;
}

.best-collections {
  display: flex;
  flex-direction: column;
  row-gap: 16rem;
}

.three {
  transform: translateY(-30rem);
}

/*************FOOTER **************/
footer {
  padding: 5rem 5rem;
  background-color: #1a1919;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-right: 10rem;
}

footer h6 {
  font-size: 1.3rem;
}

.footer-box h2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.footer-box p {
  font-size: 1.3rem;
  width: 250px;
  color: #dee2e6;
  font-weight: 300;
}

.footer-box h6 {
  padding-bottom: 3rem;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-box form label {
  font-size: 1.4rem;
  color: #dee2e6;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-form input:focus {
  outline: none;
}

.footer-input {
  padding: 0.6rem;
}

.footer-submit {
  background-color: #fff;
  color: #0a0a0a;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  cursor: pointer;
}

.footer-links,
.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer-links a {
  color: #dee2e6;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
